<nav class="navbar navbar-expand-lg " >
    <div class="container-fluid d-flex shadow-sm mb-2">
      <a class="navbar-brand" href="#"> &nbsp;&nbsp; </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav" style="margin-left: 50px; margin-right: 60%;">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/home" routerLinkActive="active" aria-current="page" href="#">Home</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/category" routerLinkActive="active" href="#">Categories</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/prodect" routerLinkActive="active" href="#">Product</a>
          </li>&nbsp;
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link text-dark" routerLink="/cart" routerLinkActive="active" href="#">cart</a>
            </li>&nbsp;
            <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/deal" routerLinkActive="active" href="#">Deal</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/payments" routerLinkActive="active" href="#">Payments</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
          </li>
        </ul>
        <span class="navbar-icon" style="float: right; margin: 4px;">
           <a href="/cart" class="text-dark"><i class="fa-solid fa-cart-shopping" routerLink="/cart" routerLinkActive="active"></i></a>&nbsp;&nbsp;&nbsp;
           <a href="/love" class="text-dark"><i class="fa-solid fa-heart" routerLink="/love" routerLinkActive="active"></i></a>&nbsp;&nbsp;&nbsp;
           <a href="/login" class="text-dark"><i class="fa-solid fa-user" routerLink="/login" routerLinkActive="active"></i></a>
        </span>
      </div>
    </div>
</nav>
