<footer class="footer text-center text-lg-start bg-body-tertiary text-muted mt-3">
    <section class="border-bottom">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa-solid fa-basket-shopping text-success"></i><span>Transaction</span> 
            </h6>
            <p> Lorem ipsum Dolor Sit Amet Consectetur adipisicing Elit. Ullam Culpa Sit Enim Nesciunt Rerum Laborum Illum Quam Error Ut Alias!</p>
            <span class="text-success">
              <i class="fa-brands fa-square-facebook"></i>&nbsp;
              <i class="fa-brands fa-square-twitter"></i>&nbsp;
              <i class="fa-brands fa-square-instagram"></i>&nbsp;
              <i class="fa-brands fa-linkedin"></i>
            </span>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Our Location
            </h6>
            <p>
              <a href="#!" class="text-reset">India</a>
            </p>
            <p>
              <a href="#!" class="text-reset">USA</a>
            </p>
            <p>
              <a href="#!" class="text-reset">France</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Japan</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Russia</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Quick Links
            </h6>
            <p>
              <a href="#!" class="text-reset">Home</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Category</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Product</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Deal</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contact</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Download App
            </h6>
            <p>
              <a href="#!" class="text-reset">Google Play</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Window Xp</a>
            </p>
            <p>
              <a href="#!" class="text-reset">App Store</a>
            </p>
          </div>
        </div>
      </div>
    </section><br>
    <div class="text-center">
      <h6>Created By <span class="text-success">Digambar Bulbule</span> | All Rights Reserved!</h6>
    </div>
  </footer>