<nav class="navbar navbar-light navbar-expand-lg d-flex" style=" background-color: rgba(0, 0, 0, 0.05)" >
    <div class="container-fluid d-flex">
        <a class="navbar-brand"><i class="fa-solid fa-basket-shopping text-success"></i>&nbsp;<span class="text-muted">Groco</span></a>
        <div class="d-flex">
            <div class="input-group">
                <div class="form-outline" data-mdb-input-init>
                  <input type="search" id="form1" class="form-control" placeholder="Search hear..." />
                   
                </div>
                <button type="button" class="btn btn-success" data-mdb-ripple-init>
                  <i class="fas fa-search"></i>
                </button>
              </div> 
        </div>
    </div>
</nav>